.subunit.AUT { fill: #a10000; }
.subunit.BEL { fill: #a10000; }
.subunit.BIH { fill: #a10000; }
.subunit.CYP { fill: #a10000; }
.subunit.CYN { fill: #a10000; }
.subunit.CHE { fill: #a10000; }
.subunit.DEU { fill: #a10000; }
.subunit.ESP { fill: #a10000; }
.subunit.EST { fill: #a10000; }
.subunit.FIN { fill: #a10000; }
.subunit.FRA { fill: #a10000; }
.subunit.GEO { fill: #a10000; }
.subunit.GBR { fill: #a10000; }
.subunit.GRC { fill: #a10000; }
.subunit.HRV { fill: #a10000; }
.subunit.HUN { fill: #a10000; }
.subunit.ITA { fill: #a10000; }
.subunit.LTU { fill: #a10000; }
.subunit.LVA { fill: #a10000; }
.subunit.MKD { fill: #a10000; }
.subunit.MNE { fill: #a10000; }
.subunit.NLD { fill: #a10000; }
.subunit.POL { fill: #a10000; }
.subunit.PRT { fill: #a10000; }
.subunit.ROU { fill: #a10000; }
.subunit.RUS { fill: #a10000; }
.subunit.SRB { fill: #a10000; }
.subunit.SVN { fill: #a10000; }
.subunit.SWE { fill: #a10000; }
.subunit.TUR { fill: #a10000; }
.subunit.UNK { fill: #a10000; }
